:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}

$primary:	hsl(343, 100%, 64%);
$secondary:	hsl(212, 24%, 21%);
$greenYellow: hsl(81, 56%, 55%);
$caribbeanGreen: 	hsl(172, 100%, 37%);
$orange: 	hsl(22, 85%, 62%);
$lightGray: hsl(240, 10%, 96%);
$darkGray: 	hsl(40, 1%, 50%);
$white: 	hsl(0, 0%, 100%);
$black: 	hsl(0, 0%, 0%);
$sliderbg: hsl(228, 5%, 82%);
