@use '../util' as *;
@use '../globals' as *;
.footer{
  background-color: $black;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__links{
    a{
      font-size: $font-xs;
      color: $white;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      transition: color 200ms ease-in-out;
      &:hover{
      color: $primary;
    }
    }
     .divisor{
      margin-left: 2.1875rem;
      margin-right: 2.1875rem;
      color: $white;
    }
    
  }
  .toll-free{
    p{
color: $white;
    }
    
  }
}
